.benefits-section {
    position: relative;
    background: url("../../img-two/leave-gray.png") left top 57% no-repeat;

    &:before {
        content: url("../../img-two/raspberries.png");
        position: absolute;
        bottom: -80px;
        left: 0;
    }
}