.order-section {
    display: flex;
    background: url("../img-seven-eight/pattern.png");
    height: 100vh;
    min-height: rem(650px);
    position: relative;

    &:before {
        position: absolute;
        bottom: rem(50px);
        left: rem(70px);
        content: url("../img-seven-eight/blackberry.png");


    }

    &:after {
        position: absolute;
        bottom: rem(50px);
        right: rem(70px);
        content: url("../img-seven-eight/leave-bottom-right.png");
    }
}