.order-section {
    display: flex;
    background: url("../../img-seven-eight/pattern.png");
    height: 100vh;
    min-height: 650px;
    position: relative;

    &:before {
        position: absolute;
        bottom: 50px;
        left: 70px;
        content: url("../../img-seven-eight/blackberry.png");


    }

    &:after {
        position: absolute;
        bottom: 50px;
        right: 70px;
        content: url("../../img-seven-eight/leave-bottom-right.png");
    }
}